<div class="footer-icons">
  {% if site.twitter_user %}<a href="https://twitter.com/{{ site.twitter_user }}" target="_blank" class="icon-twitter"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
  {% if site.github_user %}<a href="https://github.com/{{ site.github_user }}" target="_blank" class="icon-github"><i class="fa fa-github fa-2x"></i></a>{% endif %}
  {% if site.subscribe_rss %}<a href="{{ site.subscribe_rss }}" target="_blank" class="icon-rss"><i class="fa fa-rss fa-2x"></i></a>{% endif %}
</div>
<p>&copy; {{ site.time | date: "%Y" }} {{ site.author }}, Powered by <a href="http://octopress.org" target="_blank">Octopress</a> &amp; <a href="https://github.com/midnightSuyama/respectMattt" target="_blank">respectMattt</a></p>
